/* .home-description::first-letter{
    color: #001c58;
    font-size: 5rem;
  } */
.logo{
  width:50px; 
  height:50px;
}

.home-semi-title{
  font-family: "Kalam", serif;
}

.home-row{
  margin:20px 0px;
  /* transform:translateY(10px); */
  opacity:1;
  transition:all 3s ease-out;
}
.home-row.show{
  /* transform:translateY(0px); */
  transition:all 0.5s ease-in;
  opacity:1;
}
.row .col-contents-photo{
  align-self: center;
  text-align: center;
}

.row .col-contents-text{
  /* padding:2rem; */
  padding:3rem;
}

@media (max-width:575px) {
  .row .col-contents-photo{
    padding-inline: 0;
  }
  
  .row .col-contents-text{
    /* padding-inline: 0; */
    padding:1rem 0
  }
}
.row .text-bg-wrapper-1{
  padding:1rem;
  /* color: #e2fff6; */
  background-color: #2A503B;
  color: #d8ede5;
  /* background: linear-gradient(180deg, #36694C 1%, #2A432A 99%); */
  height: 100%;
  display: flex;
  align-items: center;
}
.row .text-bg-wrapper-2{
  padding:1rem;
  /* color: #2A503B; */
  background-color: #2A503B;
  color: #d8ede5;
  /* background: linear-gradient(180deg, #36694C 1%, #2A432A 99%); */
  height: 100%;
  display: flex;
  align-items: center;
}


